#appHeader {
  color: white;
  background-color: blue;
}

#appHeader a, h1, router-outlet {
  margin-left: 25px;
}

#appMenuBar {
  background-color: white;
  border-bottom-style: groove;
  border-bottom-color: blue;
}

#appMenuBar a {
  font-size: 150%;
  margin-right: 30px;
  color: blue;
}

#shiftPageToLeft {
  margin-left: 25px;
}
